{% extends "base.html" %}

{% block content %}
{% set profs = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач', 'инженер по терраформированию', 'климатолог', 'специалист по радиационной защите', 'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов'] %}
    <h1>{{title}}</h1>
    <div class="training">
        {% if design %}
            <ol>
            {% for prof in profs %}
                <li>{{ prof }}</li>
            {% endfor %}
            </ol>
        {% else %}
            <ul>
            {% for prof in profs %}
                <li>{{ prof }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}